$primary: #BF00FF;
$gray: #fff;
$gray-light: #fff;
$line-height-base: 1.6;
$font-size-base: 0.875rem;
$font-weight-bolder: bold;
$body-bg: #000;
$code-color: #586E75;
$pre-color: #586E75;
$code-font-size: 90%;
$well-bg: #f8f8f8;
$pre-bg: #f8f8f8;
$breadcrumb-bg: #ffffff;
$breadcrumb-padding-x: 0.0rem;
$breadcrumb-active-color: #000000;
$navbar-brand-font-size: 30px;
$navbar-brand-padding-y: 0.0rem;
$navbar-light-color: $gray-light;
$navbar-padding-y: 0.0rem;
$nav-pills-link-active-color: #555;
$nav-pills-link-active-bg: #e7e7e7;
$nav-pills-border-radius: 0px;

body {
    background-image: url('/images/background.jpg'); /* Replace with your image path */
    background-size: cover; /* Or 'contain' if you want to avoid cropping */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: Keeps background in place on scroll */
    color: #f5f5f5 !important;
}

h1, .h1 { font-size: floor($font-size-base * 2.50); color: #fff;} /* ~34px */
h2, .h2 { font-size: floor($font-size-base * 2.15); color: #fff;} /* ~30px */
h3, .h3 { font-size: ceil($font-size-base * 1.70); color: #fff;}  /* ~24px */
h4, .h4 { font-size: ceil($font-size-base * 1.25); color: #fff;}  /* ~18px */
h5, .h5 { font-size: $font-size-base; color: #fff;}
h6, .h6 { font-size: ceil($font-size-base * 0.85); color: #fff;}  /* ~12px */

// 20px gutter
.reduced-gutter.row {
  margin-right: -10px;
  margin-left: -10px;
}
.reduced-gutter {
  padding-right: 10px;
  padding-left: 10px;
}

/* typekit */

.wf-loading {
    visibility: hidden;
}
.wf-active {
	visibility: visible;
}

/* general */

.container {
  padding-left: 25px;
  padding-right: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
	/* Museo */
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

// also modify Bootstrap source in _reboot.scss
b, strong {
  font-weight: bold;
}

/* logo */

.logo {
	width: 120px;
	height: auto;
}

.biglogo {
	width: 180px;
	height: auto;
	padding: 0px;
}

.logobox {
	height: auto;
	display: table-cell;
	vertical-align: middle;
}

/* navbar */

.navbar-brand {
	font-size: 30px;
	font-weight: 100;
  color: $gray-light;
	/* Museo */
}
.navbar-nav {
	font-size: 30px;
	font-weight: 100;
	/* Museo */
}
.navbar-text {
	font-size: 15px;
	font-weight: 300;
	/* Museo */
}

.bg-navbar {
  background: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
}

.nav-brand a {
  color: $gray;
}

.nav-brand a:hover {
  color: $primary;
  text-decoration: none;
}

.nav-link a {
  color: $gray;
}

.nav-link a:hover {
  color: $primary;
  text-decoration: none;
}

.navbar-toggler {
  margin-top: 14px;
  margin-bottom: 14px;
}

/* headings */

.bigtitle {
	font-size: 60px;
	line-height: 55px;
	font-weight: 100;
	/* Museo */
}

.title {
	font-size: 36px;
	line-height: 40px;
	font-weight: 100;
	/* Museo */
}

.bighead {
	font-size: 32px;
	font-weight: 300;
	line-height:36px;
	/* Museo */
}

.head {
	font-size: 24px;
	font-weight: 300;
	line-height:30px;
	/* Museo */
}

.smallhead {
	font-size: 19px;
	font-weight: 300;
	line-height: 23px;
	/* Museo */
}

.note {
	font-size: 15px;
	font-weight: 300;
	line-height: 18px;
	/* Museo */
}

.smallnote {
	font-size: 13px;
	font-weight: 300;
	line-height: 16px;
	/* Museo */
}

.text-gray {
	color: $gray-light;
}

.text-dark-gray {
	color: $gray;
}

.text-figure-legend {
  font-weight: 700;
  font-size: 13px;
}

/* other */

body {
	font-weight: 300;
}

p {
	font-weight: 300;
}

.hugespacer {
	height: 50px;
}

.bigspacer {
	height: 20px;
}

.spacer {
	height: 10px;
}

.smallspacer {
	height: 5px;
}

a.off {
	color: inherit;
}

pre {
    overflow-x: auto;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 10px;
}

pre code {
    overflow-wrap: normal;
    white-space: pre;
}

table {
	@extend .table;
	@extend .table-striped;
}

img {
	@extend .img-fluid;
}

img.offset {
	float: right;
	margin: 12px 0px 10px 15px;
}

img.avatar {
	width: 20px;
}

.post img {
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post iframe {
  padding-top: 10px;
  padding-bottom: 20px;
}

blockquote {
	@extend .text-gray;
  border-left: 5px solid #e7e7e7;
	p {
    font-size: ($font-size-base * 1.00);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    }
}

.feedbox {
    height: 320px;
    overflow: hidden;
	-webkit-mask-image: -webkit-gradient(linear, left 85%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
/*	-webkit-box-shadow: inset 0 -30px 10px -10px white; */
/*	   -moz-box-shadow: inset 0 -30px 10px -10px white; */
/*	        box-shadow: inset 0 -30px 10px -10px white; */
}

.postbox {
	min-height: 80px;
}

.paperbox {
	min-height: 140px;
}

.projectbox {
	min-height: 120px;
}

.memberbox {

}

.talkbox {
	min-height: 100px;
}

.titlebox {
	min-width: 300px;
}

.handlebox {
	height: 20px;
	display: table-cell;
	vertical-align: middle;
}

.pad-right {
	padding-right: 10px;
}

.pad-left {
	padding-left: 10px;
}

#footer {
	height: 80px;
}

.footernav {
	@extend .note;
	@extend .text-dark-gray;
	text-align: center;
	margin-right: 2px;
}

.centered-pills {
    text-align: center
}
.centered-pills ul.nav-pills {
    display: inline-block
}
.centered-pills li {
    display: inline
}
.centered-pills a {
    float: left
}
* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills {
    display: inline
}

/* Infinite scroll */

.infinite-spinner {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #333;
  margin: 60px auto;

  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

#container{width:100%;}
#left{float:left; width:0px;}
#right{float:right; width:20px;}
#center{margin:0 auto;width:0px;}

// footer CSS

/* Footer Styles */
footer {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  color: #333;
  padding: 20px 0;
  font-size: 18px;
}

footer a {
  color: $gray;
  text-decoration: none;
}

footer a:hover {
  color: $primary;
  text-decoration: none;
}

footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

footer ul:first-of-type { /* Target the first ul */
  gap: 25px;
  margin: 0;
}

footer ul:nth-of-type(2) { /* Target the second ul */
  gap: 20px;
  margin: 15px 0 0;
}

footer ul:nth-of-type(2) a { /* Style links in the second ul */
  color: #666;
  font-size: 12px;
}

footer .container div { /* Target the copyright div */
  text-align: center;
  font-size: 12px;
  color: #666;
  margin-top: 10px;
}

footer ul:nth-of-type(2) a { /* Existing rule */
  color: $gray;
  text-decoration: none;
  font-size: 14px;
}

footer ul:nth-of-type(2) a:hover { /* Add this hover rule */
  color: $primary;
  text-decoration: none;
}

.knx {
    font-weight: bold;
    font-size: 1em;
}

.knx .k {
    color: #7F00FF; /* Purple */
}

.knx .nx {
    color: #555; /* Neutral Gray */
}


/* Styling for Code Snippet Container */
.code-snippet {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
}

/* Code Header */
.code-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Code Type on Left */
.code-type {
    font-size: 0.9em;
    font-weight: bold;
    color: $gray;
    padding: 2px 8px;
    background-color: #f0f0f0;
    border-radius: 3px;
}

/* Copy Button with Square */
button.copy-button {
    position: relative;
    background-color: $gray;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    gap: 5px;
}

button.copy-button:hover {
    background-color: #5a0da0;
}

button.copy-button::before {
    content: "■";
    color: #ffffff;
    font-size: 0.8em;
}

.image-with-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1.5em 0;
  text-align: center;
}

.image-with-shadow img {
  display: block;
  margin: 0 auto;
}

.image-with-shadow figcaption {
  margin-top: 0.5em;
  font-size: 0.9em;
  color: #555;
}

.knx-logo {
    font-family: sans-serif;
  font-weight: 900; /* Extra-bold or black font weight */
  display: inline-flex;
  align-items: baseline;
  /* letter-spacing: -1px;  Slightly tighten the overall spacing */
}

.knx-logo .k {
  color: $primary;
  font-size: 1em; /* Full size for K */
  margin-right: -1px; /* Reduce space between K and N */
}

.knx-logo .n {
  font-size: 0.8em; /* Slightly smaller for N */
  color: $gray;
  position: relative;
  top: 0.2em; /* Raise the N */
  margin-right: -1px; /* Reduce space between N and X */
}

.knx-logo .x {
  color: $gray;
  font-size: 0.8em; /* Slightly smaller for X */
  position: relative;
}

// Fixing the dark background font colors ==>

#header {
    background: transparent; /* Make the header background transparent */
    border-bottom: none; /* Remove any border on the header */
}

.bg-navbar {
    background: transparent !important; /* Make the navbar background transparent */
    border-bottom: none; /* Remove any border on the navbar */
}

footer {
    background: transparent; /* Make the footer background transparent */
    border-top: none; /* Remove any border on the footer */
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: rgba(127, 0, 255, 0.2) !important; /* Use your $primary color with transparency */
    color: #fff; /* White text for contrast */
}

table {
  color: #eee !important; /* Or another light color that contrasts with your background */
}

// End of fixing the dark background font colors ==>