---
layout: default
title: kahveci group / team
categories:
 - team
---

<div class="title media-heading">
	Team
</div>
<div class="smallhead">
	By <a class="off" href="/murat">Murat Kahveci</a>
</div>
<div class="bigspacer"></div>
<p>
	Our team represents a diverse group of passionate educators, researchers, and innovators who have contributed to advancing chemistry education and STEM learning. Together, we bring a wealth of expertise and dedication to addressing educational challenges, fostering inquiry, and inspiring learners worldwide.
</p>
<p>
	This section highlights both current members driving ongoing initiatives and past collaborators who have played pivotal roles in shaping our journey. Each member, past and present, has left a lasting impact, contributing to the success and vision of our group. Explore the list to learn more about the incredible individuals who have been part of this team.
</p>

<h3>Our Expert Team</h3>

<div class="bigspacer"></div>

{% for member in site.categories.team reversed %}
	{% if member.alumni != true %}
    {% cycle 'add rows': '<div class="row">', '', '' %}
		<div class="col-lg-4 memberbox">
			<div class="media">
  				<a class="float-left" href="{{ member.url }}">
    				<img width=150 class="mr-3 rounded-circle border shadow" src="{{ member.image }}">
  				</a>
 			 	<div class="media-body">
    				<div class="head mb-1"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
    				<p class="note">{{ member.position }}<br>
					<small class="post-date">{{ member.date | date_to_string }}</small>
					</p>
  				</div>
			</div>
			<div class="bigspacer"></div>
			<div class="bigspacer"></div>
        </div>
    {% cycle 'close rows': '', '', '</div>' %}
    {% endif %}
{% endfor %}
{% cycle 'close rows': '', '</div>', '</div>' %}

<h3>Alumni of Excellence</h3>

<div class="bigspacer"></div>

{% for member in site.categories.team reversed %}
	{% if member.alumni == true %}
    {% cycle 'add rows 2': '<div class="row">', '', '' %}
		<div class="col-lg-4 memberbox">
			<div class="media">
  				<a class="pull-left" href="{{ member.url }}">
    				<img width=150 class="mr-3 rounded-circle border shadow" src="{{ member.image }}">
  				</a>
 			 	<div class="media-body">
    				<div class="head media-heading"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
    				<p class="note">{{ member.position }}<br>
					<small class="post-date">{{ member.date | date_to_string }}</small>
					</p>
  				</div>
			</div>
			<div class="bigspacer"></div>
        </div>
    {% cycle 'close rows 2': '', '', '</div>' %}
    {% endif %}
{% endfor %}
{% cycle 'close rows 2': '', '</div>', '</div>' %}
