{% assign author = site.owner %}

<div itemscope itemtype="https://schema.org/Person">

  {% if page.avatar %}<img width="120" src="{{ page.avatar }}" alt="{{ page.authors }} bio photo">
  {% else if %}
  <img hspace="0" width="99" style="box-shadow: none !important; border: 0px solid #ddd;" src="/images/logo.svg"
    alt="Kahveci Web">
  {% endif %}

<p>
{{ author.subtitle }}
</p>

<!--
{% if author.url1 %}<a  href="{{ author.url1 }}" class="author-social" target="_self"><i class="fa fa-fw fa-link"></i> {{ author.url1name }}</a>{% endif %}

{% if author.url2 %}<a  href="{{ author.url2 }}" class="author-social" target="_self"><i class="fa fa-fw fa-link"></i> {{ author.url2name }}</a>{% endif %}

{% if author.url3 %}<a  href="{{ author.url3 }}" class="author-social" target="_self"><i class="fa fa-fw fa-link"></i> {{ author.url3name }}</a>{% endif %}

{% if author.url4 %}<a  href="{{ author.url4 }}" class="author-social" target="_self"><i class="fa fa-fw fa-link"></i> {{ author.url4name }}</a>{% endif %}

{% if author.url5 %}<a  href="{{ author.url5 }}" class="author-social" target="_self"><i class="fa fa-fw fa-link"></i> {{ author.url5name }}</a>{% endif %}

{% if author.exturl1 %}<a  href="{{ author.exturl1 }}" class="author-social" target="_blank"><i class="fa fa-fw fa-external-link"></i> {{ author.exturl1name }}</a>{% endif %}

{% if author.exturl2 %}<a  href="{{ author.exturl2 }}" class="author-social" target="_blank"><i class="fa fa-fw fa-external-link"></i> {{ author.exturl2name }}</a>{% endif %}

{% if author.exturl3 %}<a  href="{{ author.exturl3 }}" class="author-social" target="_blank"><i class="fa fa-fw fa-external-link"></i> {{ author.exturl3name }}</a>{% endif %}

{% if author.exturl4 %}<a  href="{{ author.exturl4 }}" class="author-social" target="_blank"><i class="fa fa-fw fa-external-link"></i> {{ author.exturl4name }}</a>{% endif %}

{% if author.exturl5 %}<a  href="{{ author.exturl5 }}" class="author-social" target="_blank"><i class="fa fa-fw fa-external-link"></i> {{ author.exturl5name }}</a>{% endif %}
-->

</div>
