<div itemscope itemtype="https://schema.org/Person">

{% if page.avatar %}<a  href="{{ member.url }}"><img width="120" src="{{ page.avatar }}" alt="{{ page.title }} bio photo"></a>{% else if %}
<img hspace="0" width="99" style="box-shadow: none !important; border: 0px solid #ddd;" src="/images/logo.svg"
  alt="Kahveci Web">
{% endif %} 

<p></p>

  {% if page.cv %}<a  href="{{ page.cv }}" class="author-social" target="_blank"><i class="fa fa-fw fa-file-pdf-o"></i> Vita</a>{% endif %}
  {% if page.email %}<a  href="mailto:{{ page.email }}" class="author-social" target="_blank"><i class="fa fa-fw fa-envelope-square"></i> Email</a>{% endif %}
  {% if page.twitter %}<a  href="https://twitter.com/{{ page.twitter }}" class="author-social" target="_blank"><i class="fa fa-fw fa-twitter-square"></i> Twitter</a>{% endif %}
  {% if page.facebook %}<a  href="https://facebook.com/{{ page.facebook }}" class="author-social" target="_blank"><i class="fa fa-fw fa-facebook-square"></i> Facebook</a>{% endif %}
  {% if page.google.plus %}<a  href="https://plus.google.com/+{{ page.google.plus }}" class="author-social" target="_blank"><i class="fa fa-fw fa-google-plus-square"></i> Google+</a>{% endif %}
  {% if page.google.scholar %}<a  href="https://scholar.google.com/citations?user={{ page.google.scholar}}" class="author-social" target="_blank"><i class="ai ai-fw ai-google-scholar"></i> Google Scholar</a>{% endif %}
  {% if page.linkedin %}<a  href="https://linkedin.com/in/{{ page.linkedin }}" class="author-social" target="_blank"><i class="fa fa-fw fa-linkedin-square"></i> LinkedIn</a>{% endif %}
  {% if page.xing %}<a  href="https://www.xing.com/profile/{{ page.xing }}" class="author-social" target="_blank"><i class="fa fa-fw fa-xing-square"></i> XING</a>{% endif %}
  {% if page.instagram %}<a  href="https://instagram.com/{{ page.instagram }}" class="author-social" target="_blank"><i class="fa fa-fw fa-instagram"></i> Instagram</a>{% endif %}
  {% if page.tumblr %}<a  href="https://{{ page.tumblr }}.tumblr.com" class="author-social" target="_blank"><i class="fa fa-fw fa-tumblr-square"></i> Tumblr</a>{% endif %}
  {% if page.github %}<a  href="https://github.com/{{ page.github }}" class="author-social" target="_blank"><i class="fa fa-fw fa-github"></i> Github</a>{% endif %}
  {% if page.stackoverflow %}<a  href="https://stackoverflow.com/users/{{ page.stackoverflow }}" class="author-social" target="_blank"><i class="fa fa-fw fa-stack-overflow"></i> Stackoverflow</a>{% endif %}
  {% if page.lastfm %}<a  href="https://lastfm.com/user/{{ page.lastfm }}" class="author-social" target="_blank"><i class="fa fa-fw fa-music"></i> Last.fm</a>{% endif %}
  {% if page.dribbble %}<a  href="https://dribbble.com/{{ page.dribbble }}" class="author-social" target="_blank"><i class="fa fa-fw fa-dribbble"></i> Dribbble</a>{% endif %}
  {% if page.pinterest %}<a  href="https://www.pinterest.com/{{ page.pinterest }}" class="author-social" target="_blank"><i class="fa fa-fw fa-pinterest"></i> Pinterest</a>{% endif %}
  {% if page.foursquare %}<a  href="https://foursquare.com/{{ page.foursquare }}" class="author-social" target="_blank"><i class="fa fa-fw fa-foursquare"></i> Foursquare</a>{% endif %}
  {% if page.steam %}<a  href="https://steamcommunity.com/id/{{ page.steam }}" class="author-social" target="_blank"><i class="fa fa-fw fa-steam-square"></i> Steam</a>{% endif %}
  {% if page.youtube %}<a  href="https://youtube.com/user/{{ page.youtube }}" class="author-social" target="_blank"><i class="fa fa-fw fa-youtube-square"></i> Youtube</a>{% endif %}
  {% if page.soundcloud %}<a  href="https://soundcloud.com/{{ page.soundcloud }}" class="author-social" target="_blank"><i class="fa fa-fw fa-soundcloud"></i> Soundcloud</a>{% endif %}
  {% if page.weibo %}<a  href="https://www.weibo.com/{{ page.weibo }}" class="author-social" target="_blank"><i class="fa fa-fw fa-weibo"></i> Weibo</a>{% endif %}
  {% if page.flickr %}<a  href="https://www.flickr.com/{{ page.flickr }}" class="author-social" target="_blank"><i class="fa fa-fw fa-flickr"></i> Flickr</a>{% endif %}
  {% if page.codepen %}<a  href="https://codepen.io/{{ page.codepen }}" class="author-social" target="_blank"><i class="fa fa-fw fa-codepen"></i> CodePen</a>{% endif %}
  {% if page.researchgate %}<a  href="https://www.researchgate.net/profile/{{ page.researchgate }}" class="author-social" target="_blank"><i class="ai ai-fw ai-researchgate"></i> ResearchGate</a>{% endif %}
  {% if page.mendeley %}<a  href="https://www.mendeley.com/profiles/{{ page.mendeley }}" class="author-social" target="_blank"><i class="ai ai-fw ai-mendeley"></i> Mendeley</a>{% endif %}
  {% if page.orcid %}<a  href="https://orcid.org/{{ page.orcid }}" class="author-social" target="_blank"><i class="ai ai-fw ai-orcid"></i> ORCID</a>{% endif %}

{% if page.name == 'Murat Kahveci' %}

{% include _counter.html %}

<a href="#projects" class="author-social" target="_self"><i class="fa fa-pie-chart"></i> Projects ({{projectcount}})</a>
<a href="#publications" class="author-social" target="_selft"><i class="fa fa-book"></i> Publications ({{count}})</a>
<a href="#posts" class="author-social" target="_self"><i class="fa fa-comment-o"></i> Posts ({{postcount}})</a>
<a href="#courses" class="author-social" target="_self"><i class="fa fa-spinner"></i> Courses ({{coursecount}})</a>


{% endif %}

</div>
