<div class="navigation-wrapper">
	<div class="site-name">
		{% if site.logo %}
		<a href="{{ site.github.url }}/"><img width="39" class="off" style="box-shadow: none !important; border: 0px solid #ddd;" src="{{ site.github.url }}/images/{{ site.logo }} "></a>
		{% else %}
		<span><a style="color:#D70A53; font-size: 20px;" href="{{ site.github.url }}/">{{ site.title }}</a></span>
		{% endif %}
	</div><!-- /.site-name -->
	<div class="top-navigation">
		<nav role="navigation" id="site-nav" class="nav">
		    <ul>
		        {% for link in site.data.navigation %}
				    {% if link.url contains 'http' %}
				        {% assign domain = '' %}
				        {% else %}
				        {% assign domain = site.github.url %}
				    {% endif %}
				    <li><a style="color: black;" href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }} </a></li>
				{% endfor %}
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->