<div itemscope itemtype="https://schema.org/Person">

{% if page.avatar %}<img width="120" src="{{ page.avatar }}" alt="{{ page.authors }} bio photo" style="box-shadow: 0 0 0; border: 0px solid #ddd;">{% else if %}
<img hspace="0" width="99" style="box-shadow: none !important; border: 0px solid #ddd;" src="/images/logo.svg"
	alt="Kahveci Web">
{% endif %}

<p></p>

{% if page.year %}<p><i class="fa fa-clock-o" ></i> Duration: {{ page.year }}</p>{% endif %}

	{% if page.hostedby %}<p><i class="fa fa-institution" ></i> Hosted by {{ page.hostedby }}</p>{% endif %}

	{% if page.fundedby %}<p><i class="fa fa-institution" ></i> Funded by {{ page.fundedby }}</p>{% endif %}

	{% if page.budget %}<p><i class="fa fa-money" ></i> Total budget of {{ page.budget }}</p>{% endif %}

	{% if page.pdf %}<p><a  href="/pdfs/projects/{{ page.pdf }}" class="author-social" target="_blank"><i class="fa fa-fw fa-file-pdf-o" ></i> Download PDF</a></p>{% endif %}

	{% if page.web %}<p><a  href=" {{ page.web }}" class="author-social" target="_blank"><i class="fa  fa-external-link fa-fw" ></i> URL</a></p>{% endif %}

</div>
