{% assign count = '0' %}
{% assign mcount = 0 %}
{% assign idx = '0' %}
{% for post in site.posts reversed %}

{% if post.pcategory == page.pcategory %}

{% if page.pcategory %}
{% assign mcount = mcount | plus: 1 %}
{% endif %}

{% capture count %}{{ count | plus: '1' }}{% endcapture %}
{% if post.url == page.url %}
{% capture idx %}{{count}}{% endcapture %}
{% endif %}
{% endif %}
{% endfor %}

{% if mcount > 0 %}

<div class="seriesNote">

  <p>This article is <strong>Part {{ idx }}</strong> in a <strong>{{ count }}-Part</strong> Category of <strong>{{ page.pcategory }}</strong>.</p>
<form name="jumpopt">
  <small><select name="myjumpbox" style="width:100%;list-style-type: circle;border-left: 5px solid #D70A53;
  background-color: #f1f1f1;
  list-style-type: none;" size="10" OnChange="location.href=jumpopt.myjumpbox.options[selectedIndex].value">
    {% assign count = mcount %}
    {% for post in site.posts %}
    {% if post.pcategory == page.pcategory %}
    
      {% if page.url == post.url %}
      <option disabled selected value=undefined>{{ count }}. {{post.title | truncate: 30 }}</option>
      {% else %}
      <option value="{{post.url}}">{{ count }}. {{post.title | truncate: 30 }}</option>
      {% endif %}
    {% capture count %}{{ count | minus: '1' }}{% endcapture %}
    {% endif %}
    {% endfor %}
  </select></small>
  </form>
   
  </div>   
{% else %}

  {% include _publication-category-list.html %}

{% endif %}