
{% assign my_array = "" | split: ',' %}

{% for post in site.posts %}
  {% if post.series %}
    {% assign my_array = my_array | push: post %}
  {% endif %}
{% endfor %}

{% assign items_grouped = my_array | group_by: "series" %}

<p><strong>Blog Series</strong></p>
<small>
<ul style="list-style-type: circle;border-left: 5px solid #D70A53;
  background-color: #f1f1f1;
  list-style-type: none;
  padding: 0px 5px;">

{% for group in items_grouped %}

{% for post in site.posts %}

{% if post.series == group.name %}

<li>➢ <a href="{{ post.url }}">{{group.name}}</a></li>

{% break %}
{% endif %} 

{% endfor %}
{% endfor %}
</ul>
</small>
<!-- 

{% for group in items_grouped %}
<li>{{group.name}}</li>
{% for item in group.items %}
<p><a href="{{ item.url }}"> {{item.title}}</a></p>
{% endfor %}
{% endfor %}
-->