<div class="hero hero--dark" style='background-image: url("/images/bg/bg2.jpg");'>
  <div class="hero__content">
    <h4>About</h4>
    <p>The Kahveci Group at the DePaul University works at the interface of affective dimensions
    in chemistry education research.
    We apply quantitative research methods to analyze data and understand how learning complex chemistry topics is
    influenced by affective variables.
    We are also studying diversity issues in chemistry education and gaining new insights on pure computational
    chemistry research.</p>

    <h4>Join</h4>
    <p>
    We are working on chemistry education from high school level to undergraduate levels. The areas of research interests are on affective aspects of chemistry learning, teaching effectiveness through educational technology, and hard-to-teach chemical concepts such as physical chemistry topics.
    </p>

    <h4>Research Fellows</h4>
    <p>
    New ideas on joint proposals and publications are welcome.    
    </p>
  
    <h4>Publishers</h4>
    <p>
    We are always eager to publish our studies to reach out the wider community.
    </p>
  
    <h4>Graduate Students</h4>
    <p>
    If you are in need of an external committee member for your Master's or doctoral research study, our group would be intested in discussing the possibilities.
    </p>

    <p>
    Please <a href="/murat">contact Dr. Kahveci</a>, for your inquiries.
    </p>

  </div>
</div>

<div class="mt-2"></div>
<div style="margin-top: ($spacer * .5)"></div>