<div class="row g-4 g-lg-5">

  <div class="col-md-4">
    <div class="card shadow-sm border-0">
      <img class="card-img-top" src="{{ page.cover }}"/>
    </div>
  </div>

  <div class="col-md-8">
    <div class="author-links">
      <ul class="list-inline">

        {%- if page.email -%}
        <li class="list-inline-item mb-2" title="{{ _locale_string_email }}">
          <a class="btn-icon-circle" itemprop="email" href="mailto:{{ page.email }}" target="_blank">
            <i class="fas fa-envelope"></i>
          </a>
        </li>
        {%- endif -%}

        {%- if page.facebook -%}
        <li class="list-inline-item mb-2" title="{{ _locale_string_follow | replace: '[NAME]', 'Facebook' }}">
          <a class="btn-icon-circle" itemprop="sameAs" href="https://www.facebook.com/{{ page.facebook }}" target="_blank">
            <div class="icon">{%- include svg/icon/social/facebook.svg -%}</div>
          </a>
        </li>
        {%- endif -%}

        {%- if page.twitter -%}
        <li class="list-inline-item mb-2" title="{{ _locale_string_follow | replace: '[NAME]', 'Twitter' }}">
          <a class="btn-icon-circle" itemprop="sameAs" href="https://twitter.com/{{ page.twitter }}" target="_blank">
            <div class="icon">{%- include svg/icon/social/twitter.svg -%}</div>
          </a>
        </li>
        {%- endif -%}

        {%- if page.weibo -%}
        <li class="list-inline-item mb-2" title="{{ _locale_string_follow | replace: '[NAME]', 'Weibo' }}">
          <a class="btn-icon-circle" itemprop="sameAs" href="https://weibo.com/{{ page.weibo }}" target="_blank">
            <div class="icon">{%- include svg/icon/social/weibo.svg -%}</div>
          </a>
        </li>
        {%- endif -%}

        {%- if page.googleplus -%}
        <li class="list-inline-item mb-2" title="{{ _locale_string_follow | replace: '[NAME]', 'Google+' }}">
          <a class="btn-icon-circle" itemprop="sameAs" href="https://plus.google.com/u/0/{{ page.googleplus }}" target="_blank">
            <div class="icon">{%- include svg/icon/social/googleplus.svg -%}</div>
          </a>
        </li>
        {%- endif -%}

        {%- if page.googlescholar -%}
        <li class="list-inline-item mb-2" title="{{ _locale_string_follow | replace: '[NAME]', 'Google Scholar' }}">
          <a class="btn-icon-circle" itemprop="sameAs"
             href="https://scholar.google.com/citations?user={{ page.googlescholar }}" target="_blank">
            <div class="icon">{%- include svg/icon/social/googlescholar.svg -%}</div>
          </a>
        </li>
        {%- endif -%}

        {%- if page.researchgate -%}
        <li class="list-inline-item mb-2" title="{{ _locale_string_follow | replace: '[NAME]', 'ResearchGate' }}">
          <a class="btn-icon-circle" itemprop="sameAs"
             href="https://www.researchgate.net/profile/{{ page.researchgate }}" target="_blank">
            <div class="icon">{%- include svg/icon/social/researchgate.svg -%}</div>
          </a>
        </li>
        {%- endif -%}

        {%- if page.telegram -%}
        <li class="list-inline-item mb-2" title="{{ _locale_string_follow | replace: '[NAME]', 'Telegram' }}">
          <a class="btn-icon-circle" itemprop="sameAs" href="https://t.me/{{ page.telegram }}" target="_blank">
            <div class="icon">{%- include svg/icon/social/telegram.svg -%}</div>
          </a>
        </li>
        {%- endif -%}

        {%- if page.medium -%}
        <li class="list-inline-item mb-2" title="{{ _locale_string_follow | replace: '[NAME]', 'Medium' }}">
          <a class="btn-icon-circle" itemprop="sameAs" href="https://medium.com/{{ page.medium }}" target="_blank">
            <div class="icon">{%- include svg/icon/social/medium.svg -%}</div>
          </a>
        </li>
        {%- endif -%}

        {%- if page.zhihu -%}
        <li class="list-inline-item mb-2" title="{{ _locale_string_follow | replace: '[NAME]', 'Zhihu' }}">
          <a class="btn-icon-circle" itemprop="sameAs" href="https://www.zhihu.com/people/{{ page.zhihu }}" target="_blank">
            <div class="icon">{%- include svg/icon/social/zhihu.svg -%}</div>
          </a>
        </li>
        {%- endif -%}

        {%- if page.douban -%}
        <li class="list-inline-item mb-2" title="{{ _locale_string_follow | replace: '[NAME]', 'Douban' }}">
          <a class="btn-icon-circle" itemprop="sameAs" href="https://www.douban.com/people/{{ page.douban }}" target="_blank">
            <div class="icon">{%- include svg/icon/social/douban.svg -%}</div>
          </a>
        </li>
        {%- endif -%}

        {%- if page.linkedin -%}
        <li class="list-inline-item mb-2" title="{{ _locale_string_follow | replace: '[NAME]', 'Linkedin' }}">
          <a class="btn-icon-circle" itemprop="sameAs" href="https://www.linkedin.com/in/{{ page.linkedin }}" target="_blank">
            <div class="icon">{%- include svg/icon/social/linkedin.svg -%}</div>
          </a>
        </li>
        {%- endif -%}

        {%- if page.github -%}
        <li class="list-inline-item mb-2" title="{{ _locale_string_follow | replace: '[NAME]', 'Github' }}">
          <a class="btn-icon-circle" itemprop="sameAs" href="https://github.com/{{ page.github }}" target="_blank">
            <div class="icon">{%- include svg/icon/social/github.svg -%}</div>
          </a>
        </li>
        {%- endif -%}

        {%- if page.npm -%}
        <li class="list-inline-item mb-2" title="{{ _locale_string_follow | replace: '[NAME]', 'npm' }}">
          <a class="btn-icon-circle" itemprop="sameAs" href="https://www.npmjs.com/~{{ page.npm }}" target="_blank">
            <div class="icon">{%- include svg/icon/social/npm.svg -%}</div>
          </a>
        </li>
        {%- endif -%}

      </ul>
    </div>
  </div>
</div>