
{% if include.category == "album" %}{% assign search = site.categories.album reverse %}{% endif %}
{% if include.category == "courses" %}{% assign search = site.categories.courses reverse %}{% endif %}
{% if include.category == "blog" %}{% assign search = site.categories.blog reverse %}{% endif %}
{% if include.category == "papers" %}{% assign search = site.categories.papers reverse %}{% endif %}
{% if include.category == "projects" %}{% assign search = site.categories.projects reverse %}{% endif %}
{% if include.category == "team" %}{% assign search = site.categories.team reverse %}{% endif %}

   {% for post in search %}
        {% if post.url == page.url %}
            {% assign post_index0 = forloop.index0 %}
            {% assign post_index1 = forloop.index %}
        {% endif %}
    {% endfor %}
    {% for post in search %}
        {% if post_index0 == forloop.index %}
            {% assign next_post = post.url %}
        {% endif %}
        {% if post_index1 == forloop.index0 %}
            {% assign prev_post = post.url %}
        {% endif %}
    {% endfor %}

<div class="bigspacer"></div>
<div id="container">
{% if next_post %}
	<div id="right"><a href="{{ next_post }}"><i class="fa fa-arrow-circle-right" style="font-size:24px;color:black"></i></a></div>
{% endif %}
{% if prev_post %}
	<div id="left"><a href="{{ prev_post }}"><i class="fa fa-arrow-circle-left" style="font-size:24px;color:black"></i></a></div>
{% endif %}

{% if include.category == "album" %} <div id="center"><a href="/album"><i class="fa fa-home" style="font-size:24px;color:black"></i></a></div> {% endif %}
{% if include.category == "courses" %} <div id="center"><a href="/courses"><i class="fa fa-home" style="font-size:24px;color:black"></i></a></div> {% endif %}
{% if include.category == "blog" %} <div id="center"><a href="/blog/archive/"><i class="fa fa-home" style="font-size:24px;color:black"></i></a></div> {% endif %}
{% if include.category == "papers" %} <div id="center"><a href="/papers"><i class="fa fa-home" style="font-size:24px;color:black"></i></a></div> {% endif %}
{% if include.category == "projects" %} <div id="center"><a href="/projects"><i class="fa fa-home" style="font-size:24px;color:black"></i></a></div> {% endif %}
{% if include.category == "team" %} <div id="center"><a href="/team"><i class="fa fa-home" style="font-size:24px;color:black"></i></a></div> {% endif %}

</div>