{% comment %}
GOAL: Find and display publications and blog posts related to the current page's projectid.

This script loads publications from _data/publications.yml and displays them
using the detailed formatting provided by _includes/publication_card.html.
{% endcomment %}

{% assign target_project_id = page.projectid | strip %}

{% comment %} --- 1. PROCESS PUBLICATIONS FROM DATA FILE (publications.yml) --- {% endcomment %}

{% assign all_pubs = site.data.publications %}
{% assign project_pubs = all_pubs | where: "projectid", target_project_id %}

{% comment %} Sort by year descending to align with the rest of the site's sorting {% endcomment %}
{% assign sorted_project_pubs = project_pubs | sort: 'year' | reverse %}
{% assign total_pub_count = sorted_project_pubs.size %}


{% comment %} --- 2. PROCESS BLOG POSTS --- {% endcomment %}

{% assign blog_posts = site.categories.blog | where: "projectid", target_project_id %}
{% assign total_blog_count = blog_posts.size %}


{% comment %} --- 3. CHECK IF ANY CONTRIBUTIONS EXIST --- {% endcomment %}

{% assign total_contributions = total_pub_count | plus: total_blog_count %}

{% if total_contributions > 0 %}

## Project Publications

{% endif %}

{% comment %} --- 4. OUTPUT PUBLICATIONS USING publication_card.html --- {% endcomment %}

{% if total_pub_count > 0 %}

<div class="row row-cols-1 row-cols-lg-2 g-4 mb-5">
    {% for publication in sorted_project_pubs %}
    {% comment %} Pass all required variables to the card template: pub, index, total_count, site {% endcomment %}
    {% include publication_card.html pub=publication index=forloop.index total_count=total_pub_count site=site %}
    {% endfor %}
</div>

{% endif %}


{% comment %} --- 5. OUTPUT BLOG POSTS (Original style retained) --- {% endcomment %}

{% if total_blog_count > 0 %}

### Blog Posts

{% for post in blog_posts %}
<p>
    <b>{{ forloop.index }}</b>.&nbsp;&nbsp;<a href="{{ post.url | relative_url }}">{{ post.title | markdownify | remove: '<p>' | remove: '</p>' }}</a>&nbsp;&nbsp;
    <small class="post-date text-muted fst-italic">{{ post.date | date_to_string }}</small>
</p>
{% endfor %}

{% endif %}