{% assign publications = site.book | concat: site.journal | concat: site.conference  %}

<ul class="nav nav-pills mb-4">

    <li class="nav-item me-2 mb-2">
        <a class="nav-link {% if page.url == "/publications" %}active{% endif %}" href="/publications">
        Show All ({{ publications.size }})
        </a>
    </li>

    <li class="nav-item me-2 mb-2">
        <a class="nav-link {% if page.url == "/book" %}active{% endif %}" href="/book">
        Books ({{ site.book.size }})
        </a>
    </li>

    <li class="nav-item me-2 mb-2">
        <a class="nav-link {% if page.url == "/journal" %}active{% endif %}" href="/journal">
        Journal Articles ({{ site.journal.size }})
        </a>
    </li>

    <li class="nav-item me-2 mb-2">
        <a class="nav-link {% if page.url == "/conference" %}active{% endif %}" href="/conference">
        Conference Papers ({{ site.conference.size}})
        </a>
    </li>

</ul>