<!-- start custom article top snippet -->
{% if page.book %} <a class="button button--outline-info button--pill">Book</a> {% endif %}
{% if page.journal %} <a class="button button--outline-info button--pill">Journal Article</a> {% endif %}
{% if page.conference %} <a class="button button--outline-info button--pill">Conference Paper</a> {% endif %} 
{% if page.project %} <a class="button button--outline-info button--pill">Project</a> {% endif %}
{% if page.short_name %} {% include member-links.html %} {% endif %}
<!-- end custom article top snippet --> 