<!-- start custom article top snippet -->
{% if page.book %} <a class="button button--primary button--pill" href="/book">Books</a> {% endif %}
{% if page.journal %} <a class="button button--primary button--pill" href="/journal">Journal Articles</a> {% endif %}
{% if page.conference %} <a class="button button--primary button--pill" href="/conference">Conference Papers</a> {% endif %} 
{% if page.project %} <a class="button button--primary button--pill" href="/projects">Projects</a> {% endif %}

{% if page.short_name %} 
    {% include member-links.html %}
{% endif %}
<!-- end custom article top snippet -->