---
layout: default
---

<div class="container my-5">
	<div class="row">
		<div class="col-lg-10 mx-auto">

			<header class="text-center mb-5">
				<h1 class="display-4">{{ page.title }}</h1>
				<p class="lead text-muted">
					Posted on {{ page.date | date: "%-d %b %Y" }}
					{% if page.author %}
					by <a href="{% for member in site.categories.team %}{% if member.title == page.author %}{{ member.url }}{% endif %}{% endfor %}">{{ page.author }}</a>
					{% endif %}
					{% if page.place %}
					| <i class="fas fa-map-marker-alt fa-fw"></i> {{ page.place }}
					{% endif %}
				</p>
			</header>

			{% if page.image %}
			<div class="text-center mb-5">
				<img src="{{ page.image }}" class="img-fluid rounded shadow-lg" alt="{{ page.title }}">
			</div>
			{% endif %}

			<div class="post-content">
				{{ content }}
			</div>

			<hr class="my-5">

			{% include navigation.html category="album" %}

		</div>
	</div>
</div>