<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="post-index">

{% include _browser-upgrade.html %}

{% include _navigation.html %}





<div id="main" role="main">

  <div class="article-author-side">
    {% include _blog.html %}
  </div>
  
<article class="post">
   <h1>{{ page.title }}</h1>

    {% capture written_year %}'None'{% endcapture %}
    {% for blog in site.categories.blog %}
      {% capture year %}{{ blog.date | date: '%Y' }}{% endcapture %}
      {% if year != written_year %}
        <h2>{{ year }}</h2>
        {% capture written_year %}{{ year }}{% endcapture %}
      {% endif %}

        {% if blog.link %}
          <a href="{{ site.github.url }}{{ blog.url }}" title="{{ blog.title }}">{{ blog.title }}</a> <a href="{{ blog.link }}" target="_blank" title="{{ blog.title }}"><i class="fa fa-link"></i></a>
        {% else %}
          <i class="fa fa-comment-o fa-fw"></i>&nbsp;<a href="{{ site.github.url }}{{ blog.url }}" title="{{ blog.title }}">{{ blog.title }}</a> | {{ blog.date | date: "%B %d, %Y" }}
          <p>
            {{ blog.excerpt | strip_html | truncate: 160 }}
          </p>
        {% endif %}

    {% endfor %}

  {% include _image.html %}

  </div>
</div>

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
