<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="post-index">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<div id="main" role="main">
  <div id="index">
    <h1>{{ page.title }}</h1>

    {% for course in site.categories.courses %}
    {% cycle 'add rows': '<div class="row">','','','' %}
      <div class="column">


          {% if course.avatar %}
          <div class="media">
      				<a class="pull-right" href="{{ course.url }}">
        				<img width="99" class="media-object" src="/images/courses/{{ course.avatar }}">
      				</a>
          </div>
          {% endif %}
          <i class="fa fa-group"></i>&nbsp;<a href="{{ course.url }}" title="{{ course.title }}">{{ course.title }}</a>
          {% if course.ref %}<p><em>{{ course.ref | strip_html | truncate: 250 }}</em></p>{% endif %}
          {% if course.excerpt %}<p>{{ course.excerpt | strip_html | truncate: 250 }}</p>{% endif %}
        </div>
        {% cycle 'close rows': '','','','</div>' %}
    {% endfor %}


      {% include _image.html %}

      
  </div><!-- /#index -->
</div><!-- /#main -->


<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
