<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  {% include _cvhead.html %}


</head>

<body class="page">

  {% include _browser-upgrade.html %}

  {% include _navigation.html %}



  <div id="main" role="main">
    <div class="article-author-side">
      {% include _member.html %}
    </div>
    <article class="page">

      <!-- <a href="../" class="button button5 pull-right">Team</a> -->

      <h1>{{ page.name }}</h1>
      <p><em>{{ page.position }}</em></p>

      {{ content }}

      {% assign count = 0 %}
      {% assign pubcount = 0 %}

      {% assign lastname = page.name | split: ' ' | last %}
      {% assign firstinitial = page.name | split: ' ' | first | slice: 0 %}
      {% assign searchstring = lastname | append: ' ' | append: firstinitial %}

      {% assign books = site.categories.publications | where: "book", "true" %}

      {% for book in books %}
      {% if book.authors contains searchstring %}
      {% assign booksq = true %}
      {% assign count = count | plus: 1 %}
      {% assign pubcount = pubcount | plus: 1 %}
      {% endif %}
      {% endfor %}

      {% for course in site.categories.courses %}
      {% if course.instructor == page.name %}
      {% assign coursesq = true %}
      {% endif %}
      {% endfor %}

      {% assign journals = site.categories.publications | where: "journal", "true" %}

      {% for jpaper in journals %}
      {% if jpaper.authors contains searchstring %}
      {% assign jpapersq = true %}
      {% assign count = count | plus: 1 %}
      {% assign pubcount = pubcount | plus: 1 %}
      {% endif %}
      {% endfor %}

      {% assign conferences = site.categories.publications | where: "conference", "true" %}

      {% for cpaper in conferences %}
      {% if cpaper.authors contains searchstring %}
      {% assign cpapersq = true %}
      {% assign count = count | plus: 1 %}
      {% assign pubcount = pubcount | plus: 1 %}
      {% endif %}
      {% endfor %}

      {% for project in site.categories.projects %}
      {% if project.contributors contains searchstring %}
      {% assign projectsq = true %}
      {% endif %}
      {% endfor %}

      {% for post in site.categories.blog %}
      {% if post.author %}
      {% if page.name == post.author %}
      {% assign postsq = true %}
      {% endif %}
      {% endif %}
      {% endfor %}

      {% if projectsq == true %}

      {% if page.name == 'Murat Kahveci' %}
      <h2 id="projects">Projects</h2>
      {% else if %}
      <h2>Joint Projects</h2>
      <p>Please note that this page includes only joint projects with the kahveci group. {{ page.name }}'s
        webpage would probably have the complete list of projects.</p>
      {% endif %}

      {% for project in site.categories.projects %}
      {% if project.contributors contains searchstring %}
      <p><i class="fa fa-pie-chart"></i>&nbsp;<a href="{{ project.url }}" class="off">{{ project.title }}</a> |
        {{ project.year }}
        {% if project.excerpt %}<br>{{ project.excerpt | strip_html | truncate: 160 }}{% endif %}
        {% endif %}
        {% endfor %}
        {% endif %}

    {% if pubcount > 0 %}
    {% if page.name == 'Murat Kahveci' %}
    <h2 id="publications">Publications</h2>
    {% else if %}
    <h2>Joint Publications</h2>
    <p>Please note that this page includes only joint publications with the kahveci group. {{ page.name }}'s
      webpage would probably have the complete list of publications.</p>
    {% endif %}
    {% endif %}



        {% if booksq == true %}

        <h3 id="books">Books</h3>

        {% for book in books %}
        {% if book.authors contains searchstring %}

        <p><b>{{ count }}</b>. {{ book.ref | markdownify | remove: '<p>' | remove: '</p>' }}<a
            href="{{ book.url }}" title="{{ book.title }}"><i class="fa fa-book"></i></a>
        </p>

        {% endif %}
        {% endfor %}
        {% endif %}

        {% if jpapersq == true %}

        <h3 id="journal">Journal Articles</h3>

        {% for jpaper in journals %}
        {% if jpaper.authors contains searchstring %}

        <p><b>{{ count }}</b>. {{ jpaper.ref | markdownify | remove: '<p>' | remove: '</p>' }}<a
            href="{{ jpaper.url }}" title="{{ jpaper.title }}"><i class="fa fa-file-text-o fa-fw"></i></a>
        </p>

        {% endif %}
        {% endfor %}
        {% endif %}


        {% if cpapersq == true %}

        <h3 id="conference">Conference Papers</h3>

        {% for cpaper in conferences %}
        {% if cpaper.authors contains searchstring %}

        <p><b>{{ count }}</b>. {{ cpaper.ref | markdownify | remove: '<p>' | remove: '</p>' }}<a
            href="{{ cpaper.url }}" title="{{ cpaper.title }}"><i class="fa fa-file-text-o fa-fw"></i></a>
        </p>

        {% endif %}
        {% endfor %}
        {% endif %}


        {% if postsq == true %}

        <h2 id="posts">Posts</h2>

        {% for post in site.categories.blog %}
        {% if post.author %}
        {% if page.name == post.author %}
        <p><i class="fa fa-comment-o fa-fw"></i>&nbsp;<a href="{{ post.url }}" class="off">{{ post.title }}</a> |
          {{ post.date | date: "%B %d, %Y" }}
          {% if post.excerpt %}<br>{{ post.excerpt | strip_html | truncate: 160 }}{% endif %}
          {% endif %}
          {% endif %}
          {% endfor %}
          {% endif %}

          {% if coursesq == true %}

          <h2 id="courses">Courses</h2>

          {% for course in site.categories.courses %}
          {% if course.instructor %}
          {% if page.name == course.instructor %}
          <p><i class="fa fa-spinner"></i>&nbsp;{{ course.code }} | <a href="{{ course.url }}" class="off">{{ course.title }}</a> |
            {{ course.institution }} | {{ course.semester }}
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endif %}



  {% include _image.html %}


  </div>

  </div><!-- /.article-wrap -->



  </article>
  </div><!-- /#index -->

  <div class="footer-wrap">
    <footer>
      {% include _footer.html %}
    </footer>
  </div><!-- /.footer-wrap -->

  {% include _scripts.html %}

</body>

</html>