---
layout: default
---

<div class="row">
    <div class="col-lg-12">
        {% if page.image %}
            <img class="float-left mr-3 media-object d-none d-sm-block rounded-circle border shadow" src="{{ page.image }}" alt="{{ page.title }}">
        {% endif %}
        <div class="titlebox">
            <div class="title">
                {{ page.title }}
            </div>
            <p>
                <div class="smallhead">
                    {% if page.authors %} {{ page.authors }}. {% endif %}
                    {% if page.year %} ({{ page.year }}). {% endif %}
                    {% if page.publisher %} {{ page.publisher }}. {% endif %}
                </div>
            </p>
        </div>
    </div>
</div>


<div class="bigspacer"></div>

<div class="row">
	<div class="col-lg-3">
		<div class="bigspacer"></div>
		<div class="glyphbox note">
			{% if page.pdf %}
			<div class="smallhead">
				PDF
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-file-text-o fa-fw"></i>
				<a class="off" href="{{ page.pdf }}">{{ page.pdf | split: '/' | last }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}
			{% if page.supplement %}
			<div class="smallhead">
				Supplement
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-paperclip fa-fw"></i>
				<a class="off" href="{{ page.supplement }}">{{ page.supplement | split: '/' | last }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}
			{% if page.doi %}
			<div class="smallhead">
				DOI
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-external-link fa-fw"></i>
				<a class="off" href="https://doi.org/{{ page.doi }}">{{ page.doi }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}
			{% if page.github %}
			<div class="smallhead">
				GitHub
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-github-alt fa-fw"></i>
				<a class="off" href="{{ page.github }}">{{ page.github | remove: 'http://github.com/' | remove: 'https://github.com/' | replace: "/", "/<wbr>" | replace: "_", "_<wbr>" }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}
    		{% if page.isbn13 %}
				<div class="smallhead">
					ISBN-13
				</div>
				<div class="pad-left note">
					<div class="smallspacer"></div>
					{{ page.isbn13 }}
				</div>
				<div class="bigspacer"></div>
    		{% endif %}
    		{% if page.isbn10 %}
				<div class="smallhead">
					ISBN-10
				</div>
				<div class="pad-left note">
					<div class="smallspacer"></div>
					{{ page.isbn10 }}
				</div>
				<div class="bigspacer"></div>
    		{% endif %}
    		{% if page.web %}
				<div class="smallhead">
					URL
				</div>
				<div class="pad-left note">
					<div class="smallspacer"></div>
					<a class="off" href="{{ page.web }}">{{ page.web }}</a>
				</div>
				<div class="bigspacer"></div>
    		{% endif %}
    		{% if page.ref %}
				<div class="smallhead">
					Cite as
				</div>
				{% assign nref = page.ref | markdownify | remove: '<p>' | remove: '</p>' %}
				<div class="pad-left note">
					<div class="smallspacer"></div>
					{{ nref | replace: '<a','<a class="off"' }}
				</div>
				{% if page.slides %}
				<div class="pad-left note">
					<div class="smallspacer"></div>
					<a href="/{{ page.slides }}" class="btn btn-outline-secondary"><i class="far fa-images"></i> Slides</a>
				</div>
				<div class="bigspacer"></div>
				{% endif %}
    		{% endif %}
		</div>
	</div>
	<div class="col-lg-8">
		<div class="post">
			{{ content }}
		</div>
		{% include navigation.html category="papers" %}
	</div>
	<div class="col-lg-1"></div>
</div>
