---
layout: default
categories:
 - projects
---

{% for test in site.data.projects %}
	{% if test.title == page.project %}
		{% assign project = test %}
	{% endif %}
{% endfor %}

<div class="row">
	<div class="col-lg-12">
		{% if page.image %}
		<img class="float-left mr-3 media-object d-none d-sm-block rounded-circle border shadow" src="{{ page.image }}" alt="{{ page.title }}">
		{% endif %}
		<div class="titlebox">
			<div class="title">
				{{ page.title }}
			</div>
			<p>
			<div class="smallhead">
				{% if page.excerpt %} Overview. {{ page.excerpt }} {% endif %}
			</div>
			</p>
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-lg-3">
		<div class="bigspacer"></div>
		<div class="smallhead">
			Contributors
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			  <div>
    				{{ page.position | markdownify | remove: "<p>" | remove: "</p>" }}
 			  </div>
		</div>
		<div class="bigspacer"></div>
		<div class="smallhead">
			Duration
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			  <div>
    				{{ page.duration | markdownify | remove: "<p>" | remove: "</p>" }}
 			  </div>
		</div>
		<div class="bigspacer"></div>
		<div class="smallhead">
			Host Institution
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			  <div>
    				{{ page.hostedby | markdownify | remove: "<p>" | remove: "</p>" }}
 			  </div>
		</div>
		<div class="bigspacer"></div>
		<div class="smallhead">
			Funding Institution
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			  <div>
    				{{ page.fundedby | markdownify | remove: "<p>" | remove: "</p>" }}
 			  </div>
		</div>
		<div class="bigspacer"></div>
		<div class="smallhead">
			Budget
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			  <div>
    				{{ page.budget | markdownify | remove: "<p>" | remove: "</p>" }}
 			  </div>
		</div>
		<div class="bigspacer"></div>


	</div>
	<div class="col-lg-8">
		<div class="post">
			{{ content }}
		</div>
		{% include navigation.html category="projects" %}
	</div>
	<div class="col-lg-1"></div>
</div>
