---
layout: default
---

<div class="row">
	<div class="col-lg-12">
		{% if page.image %}
		<img width="170px"  class="pull-left pad-right media-object d-none d-sm-block" src="{{ page.image }}">
		<img width="170px"  class="float-left pad-right d-block d-sm-none" src="{{ page.image }}">
		{% endif %}
		<div class="titlebox">
			<div class="title">
				{{ page.title }}
			</div>
			<p>
			<div class="smallhead">
				{{ page.code }}
			</div>
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-lg-3">
		<div class="bigspacer"></div>
		<div class="glyphbox note">
			<div class="smallhead">
				Trading Home
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-external-link fa-fw"></i>
				<a class="off" href="/trading">Day Trading Insights</a>
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	<div class="col-lg-8">
		<div class="post">
			{{ content }}
		</div>

{% include navigation.html category="trading" %}

	</div>
	<div class="col-lg-1"></div>
</div>
